.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.exercise-sections {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.exercise-section {
  flex: 1;
  margin-right: 10px;
}

.exercise-schedule {
  margin-top: 10px;
}

.calendar {
  text-align: center;
  
}

.exercise-schedules {
  margin-top: 20px;
}

.modal {
  text-align: center;
}

.modal-header {
  background-color: #f0f0f0;
  padding: 10px;
  font-weight: bold;
}

.modal-content {
  padding: 20px;
}

.modal-footer {
  text-align: right;
  padding: 10px;
  background-color: #f0f0f0;
}

.modal-footer button {
  margin-left: 5px;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}
