.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 30px;
}

/* .exercise-sections {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
} */

.exercise-sections {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.exercise-sections .exercise-section {
  flex-basis: 30%;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 20px; /* 둥근 원으로 변경 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.exercise-section {
  flex: 1;
  border: 2px solid #ccc;
  margin-right: 10px;
  line-height: 0.5;
}

.exercise-schedule {
  margin-top: 10px;
}

.calendar {
  text-align: center;
  
}


.exercise-schedules {
  margin-top: 20px;
}

.modal {
  text-align: center;
}

.modal-header {
  background-color: #f0f0f0;
  padding: 10px;
  font-weight: bold;
}

.modal-content {
  padding: 20px;
}

.modal-footer {
  text-align: right;
  padding: 10px;
  background-color: #f0f0f0;
}

.modal-footer button {
  margin-left: 5px;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

.date-cell-schedules {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 16px;
}

.date-cell-schedules li {
  margin-bottom: 10px;
}

.date-cell-schedules p {
  margin: 0;
  font-size: 14px;
}

.exercise-schedules {
  margin-top: 30px;
}

.exercise-schedules h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.exercise-schedules p {
  margin-bottom: 5px;
  font-size: 14px;
}