/* START :: footer 하단 고정 */
.top-container {
  min-height: 86vh;
  position: relative;
}

.body-wrapper {
  display: block;
  padding-bottom: 48px; /* footer의 높이 */
  margin-left: 80px;
  margin-right: 80px;
}
/* END :: footer 하단 고정 */
