html,
body {
  height: 100vh;
}

.body-wrapper {
  padding-bottom: 60px; /* footer의 높이 */
  margin-left: 80px;
  margin-right: 80px;
}

.card-exec {
  width: 400;
  background-color: #f9f9f9;
}

.ant-card .ant-card-body {
  padding: 0 !important;
}