@font-face {
  font-family: "OAGothic-ExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}

.ant-menu-item:hover {
  color: white !important;
  border-bottom-color: white !important;
}

.ant-menu-item:hover:after {
  border-bottom-color: white !important;
}

.ant-menu-item-selected {
  color: white !important;
  font-weight: 800 !important;
}

.ant-menu-item-selected:after {
  color: white !important;
  font-weight: 700 !important;
  border-bottom-color: white !important;
}

.ant-menu-item {
  color: rgb(210, 210, 210);
  font-weight: 600;
}

.nav-menu {
  font-size: 16px;
}

.menu-right {
  margin-right: 80px;
}

.nav-menu-user {
  font-size: 16px;
  color: white !important;
  font-weight: 600;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  height: 100%;
  max-height: 60px;
  min-height: 60px;
  display: flex;
  align-items: center;
}

.logo {
  font-family: "OAGothic-ExtraBold";
  color: white;
  font-size: 24px;
  margin: 0;
  margin-right: 16px;
  margin-left: 80px;
  width: 100px;
}

@media (max-width: 768px) {
  .group-menu.desktop-only {
    display: none;
  }
}

@media (min-width: 769px) {
  .group-menu.mobile-only {
    display: none;
  }
}